ServidorSOAP/esquemaServicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="esquemaServicio" targetNamespace="http://localhost:8000/esquemaServicio" xmlns="http://localhost:8000/esquemaServicio" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="digitoVerificadorRequest">
    <wsdl:part name="rut" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="digitoVerificadorResponse">
    <wsdl:part name="verificador" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="nombrePropioRequest">
    <wsdl:part name="sexo" type="xs:string"/>
    <wsdl:part name="nombre" type="xs:string"/>
    <wsdl:part name="apellidoPaterno" type="xs:string"/>
    <wsdl:part name="apellidoMaterno" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="nombrePropioResponse">
    <wsdl:part name="nombrePropio" type="xs:string"/>
  </wsdl:message>
  <wsdl:portType name="funciones">
    <wsdl:operation name="digitoVerificador">
      <wsdl:input message="digitoVerificadorRequest"/>
      <wsdl:output message="digitoVerificadorResponse"/>
    </wsdl:operation>
    <wsdl:operation name="nombrePropio">
      <wsdl:input message="nombrePropioRequest"/>
      <wsdl:output message="nombrePropioResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="puerto" type="funciones">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="digitoVerificador">
      <soap:operation soapAction="digitoVerificador"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nombrePropio">
      <soap:operation soapAction="nombrePropio"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicio">
    <wsdl:port binding="puerto" name="puerto">
      <soap:address location="http://localhost:8001/esquemaServicio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>